body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #eaeaea;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.123);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(76, 250, 2);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
button:hover {
  cursor: pointer;
  background-color: #558e27;
}
#bars-menu{
  display: none;
}
nav {
  background-color: #363636;
  display: flex;
  justify-content: center;
  color: white;
  border-top: 1px solid rgb(76, 250, 2);
  align-items: center;
}
#nav-d-1 {
  width: 45%;
  padding-left: 5rem;
}
#nav-d-2 {
  width: 45%;
}
#nav-d-2 ul {
  display: flex;
  list-style-type: none;
}
#nav-d-2 ul > li {
  width: 19%;
  padding: 10px 1rem;
}
#nav-d-2 ul > li > a {
  text-decoration: none;
  color: white;
}
#cont1 {
  background-image: url(./task1/intro-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
}
#main-cont {
  color: white;
  display: flex;
  padding-top: 5rem;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-cont h1 {
  font-size: 3.7rem;
  font-weight: 600;
  margin: 0%;
  margin-top: 5rem;
}
#main-cont p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
}
#cont1-btn {
  color: white;
  background-color: #69ad31;
  border: none;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-weight: 500;
  word-spacing: 1px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#cont2 {
  display: flex;
  margin: 8rem auto;
  justify-content: center;
  column-gap: 4rem;
}
#cont2-d1 {
  width: 40%;
}
#cont2-d1 h1 {
  color: black;
  font-size: 2.5rem;
  font-weight: 0;
}
#cont2-d1 h1 span {
  color: #69ad31;
}
#cont2-d1-span {
  background-color: #69ad31;
  width: 4rem;
  height: 3px;
}
#cont2-d1-p1 {
  margin-top: 3rem;
  line-height: 1.5;
  color: #585858;
}
#cont2-d1-p2 {
  color: #585858;
  margin-top: 1rem;
  line-height: 1.5;
}
#cont2-d1-btn {
  color: white;
  background-color: #69ad31;
  border: none;
  margin-top: 3rem;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#cont2-d2 {
  width: 40%;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

#cont-d2-d1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#cont-d2-d1 p {
  color: #585858e5;
}
#cont-d2-d2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#cont-d2-d2 p {
  color: #585858e5;
}
#cont3 {
  background-color: #69ad31;
  color: #eae9e9;
  display: flex;
  justify-content: center;
  padding: 4rem auto;
}
#cont3-main {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem auto;
}
#cont3-d1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
#cont3-d1 h1 {
  margin-bottom: 0px;
}
#cont3-d1-p {
  background-color: #d1d1d1;
  width: 4rem;
  height: 3px;
}
#cont3-d1-p1 {
  margin-top: 0;
}
#cont3-d2 {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.cart1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  border: 8px solid #79c937;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 70%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.cart3 {
  text-align: center;
}
#cont4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  padding: 6rem 0;
  margin: auto;
}
#cont4-d1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#cont4-d1 h1 {
  margin-bottom: 0px;
}
#cont4-d1-p {
  background-color: #69ad31;
  width: 4rem;
  height: 3px;
}
#cont4-d1-p1 {
  margin-top: 0;
}

#cont4-d1-btns {
  margin: 1.5rem;
}

#cont4-d1-btns .btn {
  padding: 10px 1rem;
  margin-left: 1rem;
  font-weight: 600;
  border: none;
  color: rgb(69, 69, 69);
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#cont4-d1-btns #btn-d4 {
  background-color: #69ad31;
  color: white;
}

#cont4-d2 {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

#cont4-d2 img {
  width: 28%;
}
#cont5 {
  display: flex;
  justify-content: center;
  background-color: #69ad31;
  color: #eae9e9;
}
#cont5-d1 {
  margin: 6rem 0;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cont5-d1-p1 {
  background-color: #eae9e9;
  width: 4rem;
  margin-top: 0;
  height: 2.5px;
}
#cont5-d1-p2 {
  margin-top: 4rem;
  line-height: 2;
  text-align: center;
}
#cont5-d1-p4 {
  letter-spacing: 0.8rem;
  padding-left: 2rem;
}
#cont5-d1-p4 .fa-sm1 {
  color: #eae9e986 !important;
}

#cont6 {
  display: flex;
  justify-content: center;
}
#cont6-main {
  margin: 6rem 0;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cont6-d1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#cont6-d1-p1 {
  background-color: #69ad31;
  width: 4rem;
  margin-top: 0;
  height: 3px;
}
#cont6-d2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}

#cont6-main p {
  color: #7e7e7e;
}
#cont6-d2 h3 {
  margin: 8px;
}
#cont6-d2 p {
  margin: 3px;
}
.cont6-d2-p1 {
  background-color: #c2c2c2;
  width: 4rem;
  margin-top: 0;
  height: 2.5px;
}
.cont6-d2-d1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont6-d2-p2 {
  margin-top: 1rem !important;
}
#cont6-d3 {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1rem;
}
form h3 {
  text-align: center;
}
#f-d1 {
  display: flex;
  justify-content: space-between;
}
form #f-d1 input {
  width: 45%;
  padding: 0.8rem;
  border: 1px solid rgb(194, 194, 194);
}
form textarea {
  padding: 0.8rem;
  border: 1px solid rgb(193, 193, 193);
  resize: vertical;
}
form button {
  width: 30%;
  color: white;
  background-color: #69ad31;
  border: none;
  margin-top: 1.5rem;
  margin-left: 35%;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

footer {
  background-color: rgb(51, 51, 51);
  color: #7e7e7ebb;
  display: flex;
  justify-content: center;
}
#footer {
  margin: 2rem;
}
#footrt-d1 {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
}
#footrt-d1 .icon {
  background-color: rgba(74, 74, 74, 0.777);
  text-align: center;
  padding: 1rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#footrt-d1 .icon:hover {
  cursor: pointer;
}
#footrt-d2 span {
  color: #c2c2c2 !important;
}

@media (max-width: 600px) {
  #bars-menu{
    display: inline-block;
    font-size: 2rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
    margin-top: 0;
  }
  nav {
    display: none;
  }
  #cont1 {
    padding: 4rem 0;
  }
  #main-cont {
    width: 100%;
  }
  #main-cont h1 {
    font-size: 2rem;
    margin-top: 1rem;
  }
  #main-cont p {
    font-size: 0.9rem;
  }
  #cont1-btn {
    padding: 0.6rem 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #cont2 {
    margin: 4rem auto;
    flex-direction: column;
    align-items: center;
  }
  #cont2-d1 {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #cont2-d1 h1 {
    font-size: 1.8rem;
  }
  #cont2-d1-span {
    height: 3px;
    margin: 0;
  }
  #cont2-d1-p1 {
    margin-top: 2rem;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 0;
  }
  #cont2-d1-p2 {
    margin-top: 2rem;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 0;
  }
  #cont2-d1-btn {
    margin: 3rem;
    font-size: 0.8rem;
    padding: 0.7rem 1rem;
  }
  #cont2-d2 {
    width: 100%;
    flex-direction: column;
    row-gap: 2rem;
  }
  #cont-d2-d1 {
    display: flex;
    width: 100%;
    align-items: center;
  }
  #cont-d2-d1 p {
    text-align: center;
    margin: 0;
    width: 90%;
  }
  #cont-d2-d2 {
    display: flex;
    align-items: center;
  }
  #cont-d2-d2 p {
    width: 90%;
    text-align: center;
    margin: 0;
  }
  #cont3 {
    padding: 1rem auto;
    flex-direction: column;
    padding-bottom: 2rem;
  }
  #cont3-main {
    width: 90%;
    margin: 1rem auto;
  }
  #cont3-d1 {
    margin: 1rem;
  }
  #cont3-d1-p1 {
    text-align: center;
    margin-bottom: 0;
  }
  #cont3-d2 {
    flex-direction: column;
  }
  .cart1 {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
  }
  .cart1 h3 {
    font-size: 1.5rem;
    margin: 6px;
  }
  .cart3 {
    margin: 5px;
  }
  #cont4 {
    padding: 2rem 0;
    margin: auto;
  }
  #cont4-d1-p1 {
    width: 90%;
    text-align: center;
  }
  #cont4-d1-btns {
    margin: 0.5rem;
  }
  #cont4-d1-btns .btn {
    padding: 10px 0.5rem;
    margin-left: 6px;
  }
  #cont4-d2 {
    width: 90%;
    gap: 1rem;
  }
  #cont5-d1 {
    margin: 1rem auto;
    width: 90%;
  }
  #cont5-d1-p2 {
    margin-top: 1rem;
    line-height: 1.5;
  }
  #cont5-d1-p3 {
    padding-left: 4rem;
  }
  #cont5-d1-p4 {
    padding-left: 0rem;
    font-size: 0.8rem;
  }
  #cont6-main {
    margin: 1.5rem 0;
    width: 90%;
    display: flex;
  }
  #cont6-d1-p2 {
    text-align: center;
    font-size: 14px;
  }
  #cont6-d2 {
    margin-top: 1rem;
  }
  #cont6-d2 h3 {
    margin: 8px;
    font-size: 12px;
    text-align: center;
  }
  .cont6-d2-p1 {
    width: 4rem;
    margin-top: 0;
    height: 2.5px;
  }
  .cont6-d2-d1 {
    justify-content: flex-start;
  }
  #cont6-d2 p {
    margin: 10px;
  }
  .cont6-d2-d1 p {
    font-size: 12px;
  }
  .cont6-d2-p2,
  .cont6-d2-p3 {
    margin-left: 20px;
  }
  #cont6-d3 {
    width: 90%;
    margin-top: 2rem;
  }
  #f-d1 {
    column-gap: 1rem;
  }
  form #f-d1 input {
    width: 45%;
    padding: 0.3rem;
  }
  form textarea {
    padding: 0.4rem;
  }
  form button {
    width: 60%;
    margin-left: 20%;
    font-size: 0.9rem;
    padding: 0.5rem 0.5rem;
  }
}
